/* css styles */

figure figcaption {
  text-align: center;
}

/* --------------------------------------------------------------------------/*
/* Headings */
h2 {
  margin-top: 50px;
}
h3 {
  margin-top: 40px;
  font-size: 1.4em;
  font-weight: normal;
}
h4 {
  font-size: 1.3em;
  margin-top: 30px;
}

/* --------------------------------------------------------------------------/*
/* Code boxes */
.cell-output {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 25px 0px;
    font-style: italic;
    color: rgb(141, 141, 143); !important
}

/* Regular R output: */
.regular-r-output {
  color: rgb(141, 141, 143); !important
}

/* Warning R output: */
.warning-r-output {
  color: darkorange; !important
}

/* Error R output: */
.error-r-output {
  color: red; !important
}

/* For manual/fake R output boxes: */
.r-out {
    background-color: #e4e7ed;
    padding: 5px 5px 0px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: -18px 0px 25px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

/* For manual/fake R output boxes that are by themselves (not below source boxes): */
.r-out-solo {
    background-color: #e4e7ed;
    padding: 5px 5px 5px 10px;
    border-radius: 0px;
    border-style: none;
    border-width: 1px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #030303;
    margin: 0px 0px 20px 0px;
    font-style: italic;
    color: rgb(141, 141, 143);
}

/* --------------------------------------------------------------------------/*
/* Exercise boxes */
.exercise {
  padding: 0em 1em 0.5em 1em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  color: #12433A; /*#1f5386; */
  border: solid 2px #7a767a;
  border-radius: 25px;
}

/* --------------------------------------------------------------------------/*
/* details sections */
details > summary {
  padding-top: 4px;
  padding-right: 10px;
  padding-bottom: 4px;
  padding-left: 10px;
  background-color: #EDEFE8; /* #f1f6f1; F4F4F4;
  border: none;
  border-radius: 25px;
  /*box-shadow: 3px 3px 4px black;*/
}

details {
  border-radius: 25px;
  /* background-color: #EDEFE8; */
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 1px;
  border-left-width: 3px;
  border-style: solid;
  border-color: #d9d7d9;
  border-left-color: #919091;
  border-radius: 5px;
}
